@import './variables.scss';
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding:2em 1em;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 1fr;
        padding:10px;
    }
}
.product {
    &__image {
        overflow:hidden;
        img {
            transition: transform .2s; /* Animation */
            width:100%;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
    &__text {
        padding:0 1em;
        h4 {
            color:#474747;
            font-size:1em;
            margin-bottom:0;
            text-transform:uppercase;
        }
        p {
            margin-top:5px;
        }
    }
}